.prem-main-style,
[class*=swatch-] .prem-main-style {
    background: #e74c3c;
    color: #F0C6BC
}
.prem-main-style .decor,
[class*=swatch-] .prem-main-style .decor {
    fill: #e74c3c;
    stroke: #fff
}
.prem-main-style h1,
.prem-main-style h1 a,
.prem-main-style h2,
.prem-main-style h2 a,
.prem-main-style h3,
.prem-main-style h3 a,
.prem-main-style h4,
.prem-main-style h4 a,
.prem-main-style h5,
.prem-main-style h5 a,
.prem-main-style h6,
.prem-main-style h6 a,
[class*=swatch-] .prem-main-style h1,
[class*=swatch-] .prem-main-style h1 a,
[class*=swatch-] .prem-main-style h2,
[class*=swatch-] .prem-main-style h2 a,
[class*=swatch-] .prem-main-style h3,
[class*=swatch-] .prem-main-style h3 a,
[class*=swatch-] .prem-main-style h4,
[class*=swatch-] .prem-main-style h4 a,
[class*=swatch-] .prem-main-style h5,
[class*=swatch-] .prem-main-style h5 a,
[class*=swatch-] .prem-main-style h6,
[class*=swatch-] .prem-main-style h6 a {
    color: #fff
}
.prem-main-style h1 small,
.prem-main-style h2 small,
.prem-main-style h3 small,
.prem-main-style h4 small,
.prem-main-style h5 small,
.prem-main-style h6 small,
[class*=swatch-] .prem-main-style h1 small,
[class*=swatch-] .prem-main-style h2 small,
[class*=swatch-] .prem-main-style h3 small,
[class*=swatch-] .prem-main-style h4 small,
[class*=swatch-] .prem-main-style h5 small,
[class*=swatch-] .prem-main-style h6 small {
    color: #F0C6BC
}
.prem-main-style a,
[class*=swatch-] .prem-main-style a {
    color: #fff
}
.prem-main-style a:hover,
[class*=swatch-] .prem-main-style a:hover {
    color: #FACCC8
}
.prem-main-style small,
.prem-main-style small a,
[class*=swatch-] .prem-main-style small,
[class*=swatch-] .prem-main-style small a {
    color: #f09990
}
.prem-main-style i,
.prem-main-style small a:hover,
[class*=swatch-] .prem-main-style i,
[class*=swatch-] .prem-main-style small a:hover {
    color: #fff
}
.prem-main-style blockquote,
[class*=swatch-] .prem-main-style blockquote {
    border-color: rgba(0, 0, 0, .075)
}
.prem-main-style blockquote small,
[class*=swatch-] .prem-main-style blockquote small {
    color: #fff
}
.prem-main-style::selection,
[class*=swatch-] .prem-main-style::selection {
    background: #fff;
    color: #e74c3c
}
.prem-main-style::-moz-selection,
[class*=swatch-] .prem-main-style::-moz-selection {
    background: #fff;
    color: #e74c3c
}
.prem-main-style hr,
[class*=swatch-] .prem-main-style hr {
    border-top-color: rgba(0, 0, 0, .075)
}
.prem-main-style pre,
[class*=swatch-] .prem-main-style pre {
    background: #F0C6BC;
    color: #e74c3c
}
.prem-main-style .bordered-header:after,
.prem-main-style .section-header:after,
[class*=swatch-] .prem-main-style .bordered-header:after,
[class*=swatch-] .prem-main-style .section-header:after {
    background: #fff
}
.prem-main-style .active,
[class*=swatch-] .prem-main-style .active {
    color: #FACCC8
}
.prem-main-style .btn-primary,
.prem-main-style button,
.prem-main-style input[type=submit],
[class*=swatch-] .prem-main-style .btn-primary,
[class*=swatch-] .prem-main-style button,
[class*=swatch-] .prem-main-style input[type=submit] {
    background-color: #73bfc1;
    color: #fff
}
.prem-main-style .btn-primary:hover,
.prem-main-style button:hover,
.prem-main-style input[type=submit]:hover,
[class*=swatch-] .prem-main-style .btn-primary:hover,
[class*=swatch-] .prem-main-style button:hover,
[class*=swatch-] .prem-main-style input[type=submit]:hover {
    background-color: rgba(115, 191, 193, .9);
    color: #fff
}
.prem-main-style .btn-primary.btn-icon-right:after,
.prem-main-style button.btn-icon-right:after,
.prem-main-style input[type=submit].btn-icon-right:after,
[class*=swatch-] .prem-main-style .btn-primary.btn-icon-right:after,
[class*=swatch-] .prem-main-style button.btn-icon-right:after,
[class*=swatch-] .prem-main-style input[type=submit].btn-icon-right:after {
    border-left-color: #73bfc1
}
.prem-main-style .btn-primary.btn-icon-left:after,
.prem-main-style button.btn-icon-left:after,
.prem-main-style input[type=submit].btn-icon-left:after,
[class*=swatch-] .prem-main-style .btn-primary.btn-icon-left:after,
[class*=swatch-] .prem-main-style button.btn-icon-left:after,
[class*=swatch-] .prem-main-style input[type=submit].btn-icon-left:after {
    border-right-color: #73bfc1
}
.prem-main-style .btn-primary.btn-icon-right:hover:after,
.prem-main-style button.btn-icon-right:hover:after,
.prem-main-style input[type=submit].btn-icon-right:hover:after,
[class*=swatch-] .prem-main-style .btn-primary.btn-icon-right:hover:after,
[class*=swatch-] .prem-main-style button.btn-icon-right:hover:after,
[class*=swatch-] .prem-main-style input[type=submit].btn-icon-right:hover:after {
    border-left-color: rgba(115, 191, 193, .9)
}
.prem-main-style .btn-primary.btn-icon-left:hover:after,
.prem-main-style button.btn-icon-left:hover:after,
.prem-main-style input[type=submit].btn-icon-left:hover:after,
[class*=swatch-] .prem-main-style .btn-primary.btn-icon-left:hover:after,
[class*=swatch-] .prem-main-style button.btn-icon-left:hover:after,
[class*=swatch-] .prem-main-style input[type=submit].btn-icon-left:hover:after {
    border-right-color: rgba(115, 191, 193, .9)
}
.prem-main-style .btn-primary .hex-alt,
.prem-main-style button .hex-alt,
.prem-main-style input[type=submit] .hex-alt,
[class*=swatch-] .prem-main-style .btn-primary .hex-alt,
[class*=swatch-] .prem-main-style button .hex-alt,
[class*=swatch-] .prem-main-style input[type=submit] .hex-alt {
    background: rgba(255, 255, 255, .2)
}
.prem-main-style .btn-primary .hex-alt:before,
.prem-main-style button .hex-alt:before,
.prem-main-style input[type=submit] .hex-alt:before,
[class*=swatch-] .prem-main-style .btn-primary .hex-alt:before,
[class*=swatch-] .prem-main-style button .hex-alt:before,
[class*=swatch-] .prem-main-style input[type=submit] .hex-alt:before {
    border-right-color: rgba(255, 255, 255, .2)
}
.prem-main-style .btn-primary .hex-alt:after,
.prem-main-style button .hex-alt:after,
.prem-main-style input[type=submit] .hex-alt:after,
[class*=swatch-] .prem-main-style .btn-primary .hex-alt:after,
[class*=swatch-] .prem-main-style button .hex-alt:after,
[class*=swatch-] .prem-main-style input[type=submit] .hex-alt:after {
    border-left-color: rgba(255, 255, 255, .2)
}
.prem-main-style .btn-primary .hex-alt i,
.prem-main-style button .hex-alt i,
.prem-main-style input[type=submit] .hex-alt i,
[class*=swatch-] .prem-main-style .btn-primary .hex-alt i,
[class*=swatch-] .prem-main-style button .hex-alt i,
[class*=swatch-] .prem-main-style input[type=submit] .hex-alt i {
    color: #fff!important
}
.prem-main-style .btn-link,
[class*=swatch-] .prem-main-style .btn-link {
    text-decoration: none;
    box-shadow: 0 0 0 1px #fff inset
}
.prem-main-style .btn-link:hover,
[class*=swatch-] .prem-main-style .btn-link:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(115, 191, 193, .05)
}
.prem-main-style .input-group-btn,
.prem-main-style .uneditable-input,
.prem-main-style input,
.prem-main-style select,
.prem-main-style textarea,
[class*=swatch-] .prem-main-style .input-group-btn,
[class*=swatch-] .prem-main-style .uneditable-input,
[class*=swatch-] .prem-main-style input,
[class*=swatch-] .prem-main-style select,
[class*=swatch-] .prem-main-style textarea {
    background: #fdfdfd;
    color: #444
}
.prem-main-style .input-group-btn:-moz-placeholder,
.prem-main-style .uneditable-input:-moz-placeholder,
.prem-main-style input:-moz-placeholder,
.prem-main-style select:-moz-placeholder,
.prem-main-style textarea:-moz-placeholder,
[class*=swatch-] .prem-main-style .input-group-btn:-moz-placeholder,
[class*=swatch-] .prem-main-style .uneditable-input:-moz-placeholder,
[class*=swatch-] .prem-main-style input:-moz-placeholder,
[class*=swatch-] .prem-main-style select:-moz-placeholder,
[class*=swatch-] .prem-main-style textarea:-moz-placeholder {
    color: #515151
}
.prem-main-style .input-group-btn::-moz-placeholder,
.prem-main-style .uneditable-input::-moz-placeholder,
.prem-main-style input::-moz-placeholder,
.prem-main-style select::-moz-placeholder,
.prem-main-style textarea::-moz-placeholder,
[class*=swatch-] .prem-main-style .input-group-btn::-moz-placeholder,
[class*=swatch-] .prem-main-style .uneditable-input::-moz-placeholder,
[class*=swatch-] .prem-main-style input::-moz-placeholder,
[class*=swatch-] .prem-main-style select::-moz-placeholder,
[class*=swatch-] .prem-main-style textarea::-moz-placeholder {
    color: #515151
}
.prem-main-style .input-group-btn:-ms-input-placeholder,
.prem-main-style .uneditable-input:-ms-input-placeholder,
.prem-main-style input:-ms-input-placeholder,
.prem-main-style select:-ms-input-placeholder,
.prem-main-style textarea:-ms-input-placeholder,
[class*=swatch-] .prem-main-style .input-group-btn:-ms-input-placeholder,
[class*=swatch-] .prem-main-style .uneditable-input:-ms-input-placeholder,
[class*=swatch-] .prem-main-style input:-ms-input-placeholder,
[class*=swatch-] .prem-main-style select:-ms-input-placeholder,
[class*=swatch-] .prem-main-style textarea:-ms-input-placeholder {
    color: #515151
}
.prem-main-style .input-group-btn::-webkit-input-placeholder,
.prem-main-style .uneditable-input::-webkit-input-placeholder,
.prem-main-style input::-webkit-input-placeholder,
.prem-main-style select::-webkit-input-placeholder,
.prem-main-style textarea::-webkit-input-placeholder,
[class*=swatch-] .prem-main-style .input-group-btn::-webkit-input-placeholder,
[class*=swatch-] .prem-main-style .uneditable-input::-webkit-input-placeholder,
[class*=swatch-] .prem-main-style input::-webkit-input-placeholder,
[class*=swatch-] .prem-main-style select::-webkit-input-placeholder,
[class*=swatch-] .prem-main-style textarea::-webkit-input-placeholder {
    color: #515151
}
.prem-main-style .form-control:focus,
.prem-main-style input:focus,
.prem-main-style textarea:focus,
[class*=swatch-] .prem-main-style .form-control:focus,
[class*=swatch-] .prem-main-style input:focus,
[class*=swatch-] .prem-main-style textarea:focus {
    -webkit-box-shadow: 0 3px 0 #ad0a04;
    -moz-box-shadow: 0 3px 0 #ad0a04;
    box-shadow: 0 3px 0 #ad0a04
}
.prem-main-style .form-icon-group i,
[class*=swatch-] .prem-main-style .form-icon-group i {
    color: #73bfc1
}
.prem-main-style input[type=button],
[class*=swatch-] .prem-main-style input[type=button] {
    background: #73bfc1;
    color: #fff
}
.prem-main-style .select-wrap,
[class*=swatch-] .prem-main-style .select-wrap {
    background: #fdfdfd
}
.prem-main-style .select-wrap select,
[class*=swatch-] .prem-main-style .select-wrap select {
    background: 0 0
}
.prem-main-style .table th,
[class*=swatch-] .prem-main-style .table th {
    background-color: #fff;
    text-transform: uppercase;
    color: #e74c3c
}
.prem-main-style.table th,
[class*=swatch-] .prem-main-style.table th {
    color: #e74c3c;
    background-color: #fff
}
.prem-main-style .table td,
.prem-main-style .table th,
.prem-main-style .table-bordered,
[class*=swatch-] .prem-main-style .table td,
[class*=swatch-] .prem-main-style .table th,
[class*=swatch-] .prem-main-style .table-bordered {
    border-color: rgba(0, 0, 0, .075)
}
.prem-main-style .table-hover tbody tr:hover>td,
.prem-main-style .table-hover tbody tr:hover>th,
.prem-main-style .table-striped tbody>tr:nth-child(odd)>td,
.prem-main-style .table-striped tbody>tr:nth-child(odd)>th,
[class*=swatch-] .prem-main-style .table-hover tbody tr:hover>td,
[class*=swatch-] .prem-main-style .table-hover tbody tr:hover>th,
[class*=swatch-] .prem-main-style .table-striped tbody>tr:nth-child(odd)>td,
[class*=swatch-] .prem-main-style .table-striped tbody>tr:nth-child(odd)>th {
    background: rgba(0, 0, 0, .075)
}
.prem-main-style.navbar,
[class*=swatch-] .prem-main-style.navbar {
    background: #e74c3c;
    color: #fff
}
.prem-main-style.navbar .nav>li>a,
.prem-main-style.navbar .navbar-brand,
.prem-main-style.navbar .navbar-brand:hover,
[class*=swatch-] .prem-main-style.navbar .nav>li>a,
[class*=swatch-] .prem-main-style.navbar .navbar-brand,
[class*=swatch-] .prem-main-style.navbar .navbar-brand:hover {
    color: #fff
}
.prem-main-style.navbar .nav>li>a:focus,
.prem-main-style.navbar .nav>li>a:hover,
[class*=swatch-] .prem-main-style.navbar .nav>li>a:focus,
[class*=swatch-] .prem-main-style.navbar .nav>li>a:hover {
    background: 0 0
}
.prem-main-style.navbar .nav>li>a:before,
[class*=swatch-] .prem-main-style.navbar .nav>li>a:before {
    background-color: #fff
}
.prem-main-style .navbar-toggle,
[class*=swatch-] .prem-main-style .navbar-toggle {
    background: 0 0
}
.prem-main-style .navbar-toggle .icon-bar,
[class*=swatch-] .prem-main-style .navbar-toggle .icon-bar {
    background-color: #fff
}
.prem-main-style .navbar-toggle:hover,
[class*=swatch-] .prem-main-style .navbar-toggle:hover {
    background: 0 0
}
.prem-main-style.navbar .nav li.dropdown.active>.dropdown-toggle,
.prem-main-style.navbar .nav li.dropdown.open.active>.dropdown-toggle,
.prem-main-style.navbar .nav li.dropdown.open>.dropdown-toggle,
.prem-main-style.navbar .nav>.active>a,
.prem-main-style.navbar .nav>.active>a:focus,
.prem-main-style.navbar .nav>.current-menu-item>a .prem-main-style.navbar .nav>.active>a:hover,
.prem-main-style.navbar .nav>.current-menu-item>a [class*=swatch-] .prem-main-style.navbar .nav>.active>a:hover,
.prem-main-style.navbar .nav>.current-menu-item>a:focus,
.prem-main-style.navbar .nav>.current-menu-item>a:hover,
.prem-main-style.navbar .nav>li>a:focus,
.prem-main-style.navbar .nav>li>a:hover,
[class*=swatch-] .prem-main-style.navbar .nav li.dropdown.active>.dropdown-toggle,
[class*=swatch-] .prem-main-style.navbar .nav li.dropdown.open.active>.dropdown-toggle,
[class*=swatch-] .prem-main-style.navbar .nav li.dropdown.open>.dropdown-toggle,
[class*=swatch-] .prem-main-style.navbar .nav>.active>a,
[class*=swatch-] .prem-main-style.navbar .nav>.active>a:focus,
[class*=swatch-] .prem-main-style.navbar .nav>.current-menu-item>a .prem-main-style.navbar .nav>.active>a:hover,
[class*=swatch-] .prem-main-style.navbar .nav>.current-menu-item>a [class*=swatch-] .prem-main-style.navbar .nav>.active>a:hover,
[class*=swatch-] .prem-main-style.navbar .nav>.current-menu-item>a:focus,
[class*=swatch-] .prem-main-style.navbar .nav>.current-menu-item>a:hover,
[class*=swatch-] .prem-main-style.navbar .nav>li>a:focus,
[class*=swatch-] .prem-main-style.navbar .nav>li>a:hover {
    color: #fff
}
.prem-main-style .dropdown-menu,
[class*=swatch-] .prem-main-style .dropdown-menu {
    background: rgba(231, 76, 60, .95);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 0 rgba(223, 46, 27, .3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 0 rgba(223, 46, 27, .3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 4px 0 rgba(223, 46, 27, .3)
}
.prem-main-style .dropdown-menu>li>a,
[class*=swatch-] .prem-main-style .dropdown-menu>li>a {
    color: #fff
}
.prem-main-style .dropdown-menu a:hover,
.prem-main-style .dropdown-menu>.active>a,
.prem-main-style .dropdown-menu>.active>a:focus,
.prem-main-style .dropdown-menu>.active>a:hover,
[class*=swatch-] .prem-main-style .dropdown-menu a:hover,
[class*=swatch-] .prem-main-style .dropdown-menu>.active>a,
[class*=swatch-] .prem-main-style .dropdown-menu>.active>a:focus,
[class*=swatch-] .prem-main-style .dropdown-menu>.active>a:hover {
    background: #fff;
    color: #e74c3c
}
.prem-main-style .dropdown-menu a:hover i,
.prem-main-style .dropdown-menu>.active>a i,
.prem-main-style .dropdown-menu>.active>a:focus i,
.prem-main-style .dropdown-menu>.active>a:hover i,
[class*=swatch-] .prem-main-style .dropdown-menu a:hover i,
[class*=swatch-] .prem-main-style .dropdown-menu>.active>a i,
[class*=swatch-] .prem-main-style .dropdown-menu>.active>a:focus i,
[class*=swatch-] .prem-main-style .dropdown-menu>.active>a:hover i {
    color: #e74c3c
}
.prem-main-style.navbar .nav>li>.dropdown-menu:after,
.prem-main-style.navbar .nav>li>.dropdown-menu:before,
[class*=swatch-] .prem-main-style.navbar .nav>li>.dropdown-menu:after,
[class*=swatch-] .prem-main-style.navbar .nav>li>.dropdown-menu:before {
    display: none
}
.prem-main-style.navbar-scrolled,
[class*=swatch-] .prem-main-style.navbar-scrolled {
    background: rgba(231, 76, 60, .95);
    -webkit-box-shadow: 0 4px 0 rgba(223, 46, 27, .3);
    -moz-box-shadow: 0 4px 0 rgba(223, 46, 27, .3);
    box-shadow: 0 4px 0 rgba(223, 46, 27, .3)
}
.prem-main-style .dropdown-submenu>a:after,
[class*=swatch-] .prem-main-style .dropdown-submenu>a:after {
    border-left-color: #fff!important
}
.prem-main-style .dropdown-submenu>a:hover:after,
[class*=swatch-] .prem-main-style .dropdown-submenu>a:hover:after {
    border-left-color: #e74c3c!important
}
.prem-main-style .dropdown-menu .divider,
[class*=swatch-] .prem-main-style .dropdown-menu .divider {
    background-color: rgba(0, 0, 0, .075)
}
.prem-main-style.navbar .nav-highlight>a,
[class*=swatch-] .prem-main-style.navbar .nav-highlight>a {
    color: #e74c3c!important
}
.prem-main-style.navbar .nav-highlight>a:after,
[class*=swatch-] .prem-main-style.navbar .nav-highlight>a:after {
    background: #fff
}
.prem-main-style.navbar .nav-highlight>a:hover,
[class*=swatch-] .prem-main-style.navbar .nav-highlight>a:hover {
    color: #e74c3c!important
}
.prem-main-style.navbar .nav-highlight>a:hover:after,
[class*=swatch-] .prem-main-style.navbar .nav-highlight>a:hover:after {
    background: rgba(255, 255, 255, .8)
}
.prem-main-style.navbar li.nav-highlight-ghost>a,
[class*=swatch-] .prem-main-style.navbar li.nav-highlight-ghost>a {
    color: #fff
}
.prem-main-style.navbar li.nav-highlight-ghost>a:after,
[class*=swatch-] .prem-main-style.navbar li.nav-highlight-ghost>a:after {
    border: 1px solid #fff
}
.prem-main-style.navbar li.nav-highlight-ghost>a:hover,
[class*=swatch-] .prem-main-style.navbar li.nav-highlight-ghost>a:hover {
    color: rgba(255, 255, 255, .8)
}
.prem-main-style.navbar li.nav-highlight-ghost>a:hover:after,
[class*=swatch-] .prem-main-style.navbar li.nav-highlight-ghost>a:hover:after {
    border-color: rgba(255, 255, 255, .8)
}
@media (max-width: 979px) {
    .prem-main-style.navbar .nav>li>a,
    [class*=swatch-] .prem-main-style.navbar .nav>li>a {
        border-radius: 0
    }
    .prem-main-style.navbar .nav>li>a:hover,
    [class*=swatch-] .prem-main-style.navbar .nav>li>a:hover {
        background: #e43725;
        color: #fff
    }
    .prem-main-style.navbar .dropdown-menu,
    [class*=swatch-] .prem-main-style.navbar .dropdown-menu {
        background: #e43725;
        border-radius: 0;
        box-shadow: none
    }
    .prem-main-style.navbar .dropdown-menu>li>a,
    [class*=swatch-] .prem-main-style.navbar .dropdown-menu>li>a {
        border-radius: 0;
        color: #fff
    }
    .prem-main-style.navbar .dropdown-menu li.active>a,
    .prem-main-style.navbar .dropdown-menu li>a:focus,
    .prem-main-style.navbar .dropdown-menu li>a:hover,
    [class*=swatch-] .prem-main-style.navbar .dropdown-menu li.active>a,
    [class*=swatch-] .prem-main-style.navbar .dropdown-menu li>a:focus,
    [class*=swatch-] .prem-main-style.navbar .dropdown-menu li>a:hover {
        background: #df2e1b
    }
    .prem-main-style .dropdown-submenu>ul>li>a,
    [class*=swatch-] .prem-main-style .dropdown-submenu>ul>li>a {
        background: #d62c1a
    }
    .prem-main-style .dropdown-submenu>ul>li>a:hover,
    [class*=swatch-] .prem-main-style .dropdown-submenu>ul>li>a:hover {
        background: #e43725
    }
    .prem-main-style .dropdown-submenu>a:after,
    [class*=swatch-] .prem-main-style .dropdown-submenu>a:after {
        border-left-color: transparent!important;
        border-top-color: #fff!important
    }
    .prem-main-style.navbar .nav-highlight>a,
    [class*=swatch-] .prem-main-style.navbar .nav-highlight>a {
        color: #fff!important
    }
    .prem-main-style.navbar .nav-highlight>a:after,
    [class*=swatch-] .prem-main-style.navbar .nav-highlight>a:after {
        background: 0 0
    }
    .prem-main-style.navbar .nav-highlight>a:hover,
    [class*=swatch-] .prem-main-style.navbar .nav-highlight>a:hover {
        color: #fff!important
    }
    .prem-main-style.navbar .nav-highlight>a:hover:after,
    [class*=swatch-] .prem-main-style.navbar .nav-highlight>a:hover:after {
        background: 0 0
    }
}
.prem-main-style .pagination>li>a,
[class*=swatch-] .prem-main-style .pagination>li>a {
    background: #73bfc1;
    color: #fff
}
.prem-main-style .pagination>.active>a,
.prem-main-style .pagination>.active>span,
.prem-main-style .pagination>li>a:hover,
[class*=swatch-] .prem-main-style .pagination>.active>a,
[class*=swatch-] .prem-main-style .pagination>.active>span,
[class*=swatch-] .prem-main-style .pagination>li>a:hover {
    background: rgba(115, 191, 193, .8)
}
.prem-main-style .pagination>.active>a i,
.prem-main-style .pagination>.active>span i,
.prem-main-style .pagination>li:first-child i,
.prem-main-style .pagination>li>a:hover i,
[class*=swatch-] .prem-main-style .pagination>.active>a i,
[class*=swatch-] .prem-main-style .pagination>.active>span i,
[class*=swatch-] .prem-main-style .pagination>li:first-child i,
[class*=swatch-] .prem-main-style .pagination>li>a:hover i {
    color: #fff
}
.prem-main-style .pagination>li:first-child a:after,
[class*=swatch-] .prem-main-style .pagination>li:first-child a:after {
    border-right-color: #73bfc1
}
.prem-main-style .pagination>li:first-child a:hover,
[class*=swatch-] .prem-main-style .pagination>li:first-child a:hover {
    background: rgba(115, 191, 193, .8)
}
.prem-main-style .pagination>li:first-child a:hover:after,
[class*=swatch-] .prem-main-style .pagination>li:first-child a:hover:after {
    border-right-color: rgba(115, 191, 193, .8)
}
.prem-main-style .pagination>li:last-child i,
[class*=swatch-] .prem-main-style .pagination>li:last-child i {
    color: #fff
}
.prem-main-style .pagination>li:last-child a:after,
[class*=swatch-] .prem-main-style .pagination>li:last-child a:after {
    border-left-color: #73bfc1
}
.prem-main-style .pagination>li:last-child a:hover,
[class*=swatch-] .prem-main-style .pagination>li:last-child a:hover {
    background: rgba(115, 191, 193, .8)
}
.prem-main-style .pagination>li:last-child a:hover:after,
[class*=swatch-] .prem-main-style .pagination>li:last-child a:hover:after {
    border-left-color: rgba(115, 191, 193, .8)
}
.prem-main-style .tooltip-inner,
[class*=swatch-] .prem-main-style .tooltip-inner {
    background-color: #fff;
    color: #e74c3c
}
.prem-main-style .tooltip.in,
[class*=swatch-] .prem-main-style .tooltip.in {
    opacity: 1
}
.prem-main-style .tooltip.top .tooltip-arrow,
[class*=swatch-] .prem-main-style .tooltip.top .tooltip-arrow {
    border-top-color: #fff
}
.prem-main-style .tooltip.right .tooltip-arrow,
[class*=swatch-] .prem-main-style .tooltip.right .tooltip-arrow {
    border-right-color: #fff
}
.prem-main-style .tooltip.left .tooltip-arrow,
[class*=swatch-] .prem-main-style .tooltip.left .tooltip-arrow {
    border-left-color: #fff
}
.prem-main-style .tooltip.bottom .tooltip-arrow,
[class*=swatch-] .prem-main-style .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #fff
}
.prem-main-style .progress,
[class*=swatch-] .prem-main-style .progress {
    background: rgba(0, 0, 0, .075);
    box-shadow: none
}
.prem-main-style .progress .progress-bar-primary,
[class*=swatch-] .prem-main-style .progress .progress-bar-primary {
    background: #73bfc1;
    box-shadow: none
}
.prem-main-style .progress .progress-bar-primary span,
[class*=swatch-] .prem-main-style .progress .progress-bar-primary span {
    color: #fff
}
.prem-main-style .badge,
[class*=swatch-] .prem-main-style .badge {
    background: #fff;
    color: #e74c3c
}
.prem-main-style .nav-tabs .active a,
.prem-main-style .nav-tabs .active a:hover,
.prem-main-style .tab-content,
[class*=swatch-] .prem-main-style .nav-tabs .active a,
[class*=swatch-] .prem-main-style .nav-tabs .active a:hover,
[class*=swatch-] .prem-main-style .tab-content {
    background: #fff
}
.prem-main-style .nav-tabs>li>a:focus,
.prem-main-style .nav-tabs>li>a:hover,
[class*=swatch-] .prem-main-style .nav-tabs>li>a:focus,
[class*=swatch-] .prem-main-style .nav-tabs>li>a:hover {
    color: #e74c3c;
    background-color: #fff
}
.prem-main-style .nav-tabs>li.active>a,
.prem-main-style .nav-tabs>li.active>a:hover,
[class*=swatch-] .prem-main-style .nav-tabs>li.active>a,
[class*=swatch-] .prem-main-style .nav-tabs>li.active>a:hover {
    color: #e74c3c
}
.prem-main-style .nav-pills>.active>a,
.prem-main-style .nav-pills>.active>a:hover,
.prem-main-style .nav-pills>li>a:hover,
[class*=swatch-] .prem-main-style .nav-pills>.active>a,
[class*=swatch-] .prem-main-style .nav-pills>.active>a:hover,
[class*=swatch-] .prem-main-style .nav-pills>li>a:hover {
    background: #fff;
    color: #e74c3c
}
.prem-main-style .nav-pills>.active>a .badge,
.prem-main-style .nav-pills>.active>a:hover .badge,
.prem-main-style .nav-pills>li>a:hover .badge,
[class*=swatch-] .prem-main-style .nav-pills>.active>a .badge,
[class*=swatch-] .prem-main-style .nav-pills>.active>a:hover .badge,
[class*=swatch-] .prem-main-style .nav-pills>li>a:hover .badge {
    background: #e74c3c;
    color: #fff
}
.prem-main-style .nav-pills>.active>a:hover,
.prem-main-style .nav-pills>.active>a:hover:hover,
.prem-main-style .nav-pills>li>a:hover:hover,
.prem-main-style .tab-pane,
.prem-main-style .tab-pane a,
.prem-main-style .tab-pane h1,
.prem-main-style .tab-pane h2,
.prem-main-style .tab-pane h3,
.prem-main-style .tab-pane h4,
.prem-main-style .tab-pane h5,
.prem-main-style .tab-pane h6,
.prem-main-style .tab-pane p,
.prem-main-style .tab-pane.active,
.prem-main-style .tab-pane.active a,
.prem-main-style .tab-pane.active h1,
.prem-main-style .tab-pane.active h2,
.prem-main-style .tab-pane.active h3,
.prem-main-style .tab-pane.active h4,
.prem-main-style .tab-pane.active h5,
.prem-main-style .tab-pane.active h6,
.prem-main-style .tab-pane.active p,
[class*=swatch-] .prem-main-style .nav-pills>.active>a:hover,
[class*=swatch-] .prem-main-style .nav-pills>.active>a:hover:hover,
[class*=swatch-] .prem-main-style .nav-pills>li>a:hover:hover,
[class*=swatch-] .prem-main-style .tab-pane,
[class*=swatch-] .prem-main-style .tab-pane a,
[class*=swatch-] .prem-main-style .tab-pane h1,
[class*=swatch-] .prem-main-style .tab-pane h2,
[class*=swatch-] .prem-main-style .tab-pane h3,
[class*=swatch-] .prem-main-style .tab-pane h4,
[class*=swatch-] .prem-main-style .tab-pane h5,
[class*=swatch-] .prem-main-style .tab-pane h6,
[class*=swatch-] .prem-main-style .tab-pane p,
[class*=swatch-] .prem-main-style .tab-pane.active,
[class*=swatch-] .prem-main-style .tab-pane.active a,
[class*=swatch-] .prem-main-style .tab-pane.active h1,
[class*=swatch-] .prem-main-style .tab-pane.active h2,
[class*=swatch-] .prem-main-style .tab-pane.active h3,
[class*=swatch-] .prem-main-style .tab-pane.active h4,
[class*=swatch-] .prem-main-style .tab-pane.active h5,
[class*=swatch-] .prem-main-style .tab-pane.active h6,
[class*=swatch-] .prem-main-style .tab-pane.active p {
    color: #e74c3c
}
.prem-main-style .tab-pane .btn,
.prem-main-style .tab-pane.active .btn,
[class*=swatch-] .prem-main-style .tab-pane .btn,
[class*=swatch-] .prem-main-style .tab-pane.active .btn {
    color: #fff!important;
    background: #e74c3c!important
}
.prem-main-style .tab-pane .tooltip-inner,
.prem-main-style .tab-pane.active .tooltip-inner,
[class*=swatch-] .prem-main-style .tab-pane .tooltip-inner,
[class*=swatch-] .prem-main-style .tab-pane.active .tooltip-inner {
    background-color: #e74c3c;
    color: #fff
}
.prem-main-style .tab-pane .tooltip.top .tooltip-arrow,
.prem-main-style .tab-pane.active .tooltip.top .tooltip-arrow,
[class*=swatch-] .prem-main-style .tab-pane .tooltip.top .tooltip-arrow,
[class*=swatch-] .prem-main-style .tab-pane.active .tooltip.top .tooltip-arrow {
    border-top-color: #e74c3c
}
.prem-main-style .tab-pane .tooltip.right .tooltip-arrow,
.prem-main-style .tab-pane.active .tooltip.right .tooltip-arrow,
[class*=swatch-] .prem-main-style .tab-pane .tooltip.right .tooltip-arrow,
[class*=swatch-] .prem-main-style .tab-pane.active .tooltip.right .tooltip-arrow {
    border-right-color: #e74c3c
}
.prem-main-style .tab-pane .tooltip.left .tooltip-arrow,
.prem-main-style .tab-pane.active .tooltip.left .tooltip-arrow,
[class*=swatch-] .prem-main-style .tab-pane .tooltip.left .tooltip-arrow,
[class*=swatch-] .prem-main-style .tab-pane.active .tooltip.left .tooltip-arrow {
    border-left-color: #e74c3c
}
.prem-main-style .tab-pane .tooltip.bottom .tooltip-arrow,
.prem-main-style .tab-pane.active .tooltip.bottom .tooltip-arrow,
[class*=swatch-] .prem-main-style .tab-pane .tooltip.bottom .tooltip-arrow,
[class*=swatch-] .prem-main-style .tab-pane.active .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #e74c3c
}
.prem-main-style .docs-sidebar-nav,
.prem-main-style.docs-sidebar-nav,
[class*=swatch-] .prem-main-style .docs-sidebar-nav,
[class*=swatch-] .prem-main-style.docs-sidebar-nav {
    background: 0 0
}
.prem-main-style .docs-sidebar-nav li a,
.prem-main-style.docs-sidebar-nav li a,
[class*=swatch-] .prem-main-style .docs-sidebar-nav li a,
[class*=swatch-] .prem-main-style.docs-sidebar-nav li a {
    background: rgba(0, 0, 0, .075)
}
.prem-main-style .docs-sidebar-nav li.active a,
.prem-main-style.docs-sidebar-nav li.active a,
[class*=swatch-] .prem-main-style .docs-sidebar-nav li.active a,
[class*=swatch-] .prem-main-style.docs-sidebar-nav li.active a {
    background: #fff;
    color: #e74c3c
}
.prem-main-style .panel,
.prem-main-style .well,
[class*=swatch-] .prem-main-style .panel,
[class*=swatch-] .prem-main-style .well {
    background: rgba(0, 0, 0, .075)
}
.prem-main-style .panel-heading,
[class*=swatch-] .prem-main-style .panel-heading {
    background: #fff
}
.prem-main-style .panel-heading .panel-title,
.prem-main-style .panel-heading a,
[class*=swatch-] .prem-main-style .panel-heading .panel-title,
[class*=swatch-] .prem-main-style .panel-heading a {
    color: #e74c3c;
    text-decoration: none
}
.prem-main-style .carousel-indicators li,
[class*=swatch-] .prem-main-style .carousel-indicators li {
    background-color: rgba(255, 255, 255, .5)
}
.prem-main-style .carousel-indicators li.active,
[class*=swatch-] .prem-main-style .carousel-indicators li.active {
    background-color: #fff
}
.prem-main-style .thumbnail,
[class*=swatch-] .prem-main-style .thumbnail {
    background: rgba(0, 0, 0, .075)
}
.prem-main-style .thumbnail:hover,
[class*=swatch-] .prem-main-style .thumbnail:hover {
    background: #fff;
    color: #e74c3c
}
.prem-main-style .overlay,
[class*=swatch-] .prem-main-style .overlay {
    background: rgba(0, 0, 0, .075)!important
}
.prem-main-style .post-media,
[class*=swatch-] .prem-main-style .post-media {
    background-color: rgba(0, 0, 0, .075)!important
}
.prem-main-style .media-inner:after,
[class*=swatch-] .prem-main-style .media-inner:after {
    background: #fff
}
.prem-main-style .social-icons li a,
.prem-main-style .social-share li a,
[class*=swatch-] .prem-main-style .social-icons li a,
[class*=swatch-] .prem-main-style .social-share li a {
    background-color: #fff
}
.prem-main-style .social-icons li a i,
.prem-main-style .social-share li a i,
[class*=swatch-] .prem-main-style .social-icons li a i,
[class*=swatch-] .prem-main-style .social-share li a i {
    color: #e74c3c
}
.prem-main-style .social-icons li a:not([data-iconcolor]):hover,
.prem-main-style .social-share li a:not([data-iconcolor]):hover,
[class*=swatch-] .prem-main-style .social-icons li a:not([data-iconcolor]):hover,
[class*=swatch-] .prem-main-style .social-share li a:not([data-iconcolor]):hover {
    background-color: rgba(255, 255, 255, .8)
}
.prem-main-style .social-simple li a i,
[class*=swatch-] .prem-main-style .social-simple li a i {
    color: #fff
}
.prem-main-style .social-simple li a:not([data-iconcolor]):hover i,
[class*=swatch-] .prem-main-style .social-simple li a:not([data-iconcolor]):hover i {
    color: rgba(255, 255, 255, .8)
}
.prem-main-style .grid-post .post-extras:before,
[class*=swatch-] .prem-main-style .grid-post .post-extras:before {
    background: #e74c3c
}
.prem-main-style .post-extras i,
[class*=swatch-] .prem-main-style .post-extras i {
    color: #fff
}
.prem-main-style .list-fancy-icons .list-item,
.prem-main-style .list-fancy-icons li,
.prem-main-style.list-fancy-icons .list-item,
.prem-main-style.list-fancy-icons li,
[class*=swatch-] .prem-main-style .list-fancy-icons .list-item,
[class*=swatch-] .prem-main-style .list-fancy-icons li,
[class*=swatch-] .prem-main-style.list-fancy-icons .list-item,
[class*=swatch-] .prem-main-style.list-fancy-icons li {
    background: #e74c3c
}
.prem-main-style .list-fancy-icons .list-item .round,
.prem-main-style .list-fancy-icons .list-item .square,
.prem-main-style .list-fancy-icons li .round,
.prem-main-style .list-fancy-icons li .square,
.prem-main-style.list-fancy-icons .list-item .round,
.prem-main-style.list-fancy-icons .list-item .square,
.prem-main-style.list-fancy-icons li .round,
.prem-main-style.list-fancy-icons li .square,
[class*=swatch-] .prem-main-style .list-fancy-icons .list-item .round,
[class*=swatch-] .prem-main-style .list-fancy-icons .list-item .square,
[class*=swatch-] .prem-main-style .list-fancy-icons li .round,
[class*=swatch-] .prem-main-style .list-fancy-icons li .square,
[class*=swatch-] .prem-main-style.list-fancy-icons .list-item .round,
[class*=swatch-] .prem-main-style.list-fancy-icons .list-item .square,
[class*=swatch-] .prem-main-style.list-fancy-icons li .round,
[class*=swatch-] .prem-main-style.list-fancy-icons li .square {
    background: #fff
}
.prem-main-style .list-fancy-icons .list-item i,
.prem-main-style .list-fancy-icons li i,
.prem-main-style.list-fancy-icons .list-item i,
.prem-main-style.list-fancy-icons li i,
[class*=swatch-] .prem-main-style .list-fancy-icons .list-item i,
[class*=swatch-] .prem-main-style .list-fancy-icons li i,
[class*=swatch-] .prem-main-style.list-fancy-icons .list-item i,
[class*=swatch-] .prem-main-style.list-fancy-icons li i {
    color: #e74c3c
}
.prem-main-style .box-inner,
[class*=swatch-] .prem-main-style .box-inner {
    background: #fff
}
.prem-main-style .box-inner i,
[class*=swatch-] .prem-main-style .box-inner i {
    color: #e74c3c
}
.prem-main-style .box-badge,
[class*=swatch-] .prem-main-style .box-badge {
    background: rgba(255, 255, 255, .9);
    color: #e74c3c
}
.prem-main-style .bordered:after,
[class*=swatch-] .prem-main-style .bordered:after {
    background: #fff
}
.prem-main-style .horizontal-icon-border [class^=box-]:before,
.prem-main-style .vertical-icon-border [class^=col-md]:first-child,
[class*=swatch-] .prem-main-style .horizontal-icon-border [class^=box-]:before,
[class*=swatch-] .prem-main-style .vertical-icon-border [class^=col-md]:first-child {
    border-color: #fff
}
.prem-main-style #infscr-loading,
[class*=swatch-] .prem-main-style #infscr-loading {
    background: #fff;
    color: #e74c3c
}
.prem-main-style .counter .value,
[class*=swatch-] .prem-main-style .counter .value {
    color: #fff
}
.prem-main-style .countdown.underline b:before,
.prem-main-style .counter.underline:after,
[class*=swatch-] .prem-main-style .countdown.underline b:before,
[class*=swatch-] .prem-main-style .counter.underline:after {
    background: #fff
}
.prem-main-style .gform_wrapper .gsection,
[class*=swatch-] .prem-main-style .gform_wrapper .gsection {
    border-color: rgba(0, 0, 0, .075)
}
.prem-main-style .gf_progressbar,
[class*=swatch-] .prem-main-style .gf_progressbar {
    background: rgba(0, 0, 0, .075)
}
.prem-main-style .gf_progressbar_percentage,
[class*=swatch-] .prem-main-style .gf_progressbar_percentage {
    background: #fff;
    color: #e74c3c
}
.prem-main-style .mejs-audio,
[class*=swatch-] .prem-main-style .mejs-audio {
    background-color: #fff;
    color: #e74c3c
}
.prem-main-style .mejs-container .mejs-controls .mejs-time span,
[class*=swatch-] .prem-main-style .mejs-container .mejs-controls .mejs-time span {
    color: #e74c3c
}
.prem-main-style .mejs-controls .mejs-button button:hover,
[class*=swatch-] .prem-main-style .mejs-controls .mejs-button button:hover {
    background-color: transparent
}
.prem-main-style .mejs-controls .mejs-time-rail .mejs-time-loaded,
[class*=swatch-] .prem-main-style .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background-color: #e74c3c
}
.prem-main-style .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.prem-main-style .mejs-controls .mejs-time-rail .mejs-time-current,
[class*=swatch-] .prem-main-style .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
[class*=swatch-] .prem-main-style .mejs-controls .mejs-time-rail .mejs-time-current {
    background-color: rgba(0, 0, 0, .075)
}
.prem-main-style .hex,
[class*=swatch-] .prem-main-style .hex {
    background-color: #fff;
    color: #e74c3c
}
.prem-main-style .hex a,
.prem-main-style .hex a:hover,
.prem-main-style .hex i,
.prem-main-style .hex:hover,
[class*=swatch-] .prem-main-style .hex a,
[class*=swatch-] .prem-main-style .hex a:hover,
[class*=swatch-] .prem-main-style .hex i,
[class*=swatch-] .prem-main-style .hex:hover {
    color: #e74c3c
}
.prem-main-style .hex:before,
[class*=swatch-] .prem-main-style .hex:before {
    border-bottom-color: #fff
}
.prem-main-style .hex:after,
[class*=swatch-] .prem-main-style .hex:after {
    border-top-color: #fff
}
.prem-main-style .hex-left:after,
.prem-main-style .hex-left:before,
.prem-main-style .hex-right:after,
.prem-main-style .hex-right:before,
[class*=swatch-] .prem-main-style .hex-left:after,
[class*=swatch-] .prem-main-style .hex-left:before,
[class*=swatch-] .prem-main-style .hex-right:after,
[class*=swatch-] .prem-main-style .hex-right:before {
    background-color: #e74c3c
}
.prem-main-style .pricing-body,
.prem-main-style .pricing-head,
[class*=swatch-] .prem-main-style .pricing-body,
[class*=swatch-] .prem-main-style .pricing-head {
    background: #73bfc1;
    color: #fff
}
.prem-main-style .pricing-body h4,
.prem-main-style .pricing-body small,
.prem-main-style .pricing-head h4,
.prem-main-style .pricing-head small,
[class*=swatch-] .prem-main-style .pricing-body h4,
[class*=swatch-] .prem-main-style .pricing-body small,
[class*=swatch-] .prem-main-style .pricing-head h4,
[class*=swatch-] .prem-main-style .pricing-head small {
    color: #fff
}
.prem-main-style .pricing-list li,
[class*=swatch-] .prem-main-style .pricing-list li {
    border-color: rgba(0, 0, 0, .075)
}
.prem-main-style .pricing-col .btn-primary,
[class*=swatch-] .prem-main-style .pricing-col .btn-primary {
    background: #fff;
    color: #73bfc1
}
.prem-main-style .pricing-col .btn-primary:hover,
[class*=swatch-] .prem-main-style .pricing-col .btn-primary:hover {
    background: #f0f0f0
}
.prem-main-style .flexslider figcaption,
[class*=swatch-] .prem-main-style .flexslider figcaption {
    background: rgba(231, 76, 60, .9);
    -webkit-box-shadow: 0 4px 0 rgba(223, 46, 27, .3);
    -moz-box-shadow: 0 4px 0 rgba(223, 46, 27, .3);
    box-shadow: 0 4px 0 rgba(223, 46, 27, .3)
}
.prem-main-style .flex-directions-fancy .flex-direction-nav a,
[class*=swatch-] .prem-main-style .flex-directions-fancy .flex-direction-nav a {
    background: #fff;
    color: #e74c3c
}
.prem-main-style .flex-control-nav a,
[class*=swatch-] .prem-main-style .flex-control-nav a {
    background: rgba(255, 255, 255, .5)
}
.prem-main-style .flex-control-nav a.flex-active,
[class*=swatch-] .prem-main-style .flex-control-nav a.flex-active {
    background: #fff
}
.prem-main-style .sidebar,
[class*=swatch-] .prem-main-style .sidebar {
    color: #F0C6BC
}
.prem-main-style .sidebar h3,
[class*=swatch-] .prem-main-style .sidebar h3 {
    color: #fff
}
.prem-main-style .sidebar a,
[class*=swatch-] .prem-main-style .sidebar a {
    color: #F0C6BC
}
.prem-main-style .sidebar a:hover,
[class*=swatch-] .prem-main-style .sidebar a:hover {
    color: #fff
}
.prem-main-style .widget_search .btn,
[class*=swatch-] .prem-main-style .widget_search .btn {
    background: #ad0a04
}
.prem-main-style .widget_search .btn i,
[class*=swatch-] .prem-main-style .widget_search .btn i {
    color: #fff!important
}
.prem-main-style .sidebar-widget .post-icon,
[class*=swatch-] .prem-main-style .sidebar-widget .post-icon {
    background: #fff
}
.prem-main-style .sidebar-widget .post-icon i,
[class*=swatch-] .prem-main-style .sidebar-widget .post-icon i {
    color: #e74c3c
}
.prem-main-style .widget_tag_cloud ul a,
[class*=swatch-] .prem-main-style .widget_tag_cloud ul a {
    background: #fff;
    color: #e74c3c
}
.prem-main-style .widget_tag_cloud ul a:hover,
[class*=swatch-] .prem-main-style .widget_tag_cloud ul a:hover {
    background: rgba(255, 255, 255, .9);
    color: #e74c3c
}
.prem-main-style .widget_calendar tbody a,
[class*=swatch-] .prem-main-style .widget_calendar tbody a {
    background: #fff;
    color: #e74c3c
}
.prem-main-style .widget_calendar tbody a:hover,
[class*=swatch-] .prem-main-style .widget_calendar tbody a:hover {
    background: #ededed;
    color: #e74c3c
}
.prem-main-style .widget_calendar tfoot,
[class*=swatch-] .prem-main-style .widget_calendar tfoot {
    background: rgba(0, 0, 0, .075)
}
.prem-main-style .widget_nav_menu .sub-menu,
[class*=swatch-] .prem-main-style .widget_nav_menu .sub-menu {
    border-color: rgba(0, 0, 0, .075)
}
.prem-main-style .widget_oxy_twitter li:before,
[class*=swatch-] .prem-main-style .widget_oxy_twitter li:before {
    color: #fff
}
.prem-main-style .widget_swatch_wpml_language_selector li:before,
[class*=swatch-] .prem-main-style .widget_swatch_wpml_language_selector li:before {
    background: rgba(0, 0, 0, .075)
}
.prem-main-style .button,
[class*=swatch-] .prem-main-style .button {
    background: #73bfc1;
    color: #fff
}
.prem-main-style .button:hover,
[class*=swatch-] .prem-main-style .button:hover {
    background: rgba(115, 191, 193, .9);
    color: #fff
}
.prem-main-style .woocommerce-breadcrumb,
.prem-main-style .woocommerce-breadcrumb a,
.prem-main-style .woocommerce-breadcrumb a:hover,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb a,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb a:hover {
    color: #fff
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(1),
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(1) {
    background: #73bfc1
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(1):after,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(1):after {
    border-left-color: #73bfc1
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(1):hover,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(1):hover {
    background: #61b7b9
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(1):hover:after,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(1):hover:after {
    border-left-color: #61b7b9
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(2),
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(2) {
    background: #85c7c9
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(2):after,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(2):after {
    border-left-color: #85c7c9
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(2):hover,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(2):hover {
    background: #7ec4c6
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(2):hover:after,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(2):hover:after {
    border-left-color: #7ec4c6
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(3),
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(3) {
    background: #96cfd1
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(3):after,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(3):after {
    border-left-color: #96cfd1
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(3):hover,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(3):hover {
    background: #8ccacc
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(3):hover:after,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(3):hover:after {
    border-left-color: #8ccacc
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(4),
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(4) {
    background: #a8d7d8
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(4):after,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(4):after {
    border-left-color: #a8d7d8
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(4):hover,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(4):hover {
    background: #9dd2d4
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(4):hover:after,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(4):hover:after {
    border-left-color: #9dd2d4
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(5),
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(5) {
    background: #badfe0
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(5):after,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(5):after {
    border-left-color: #badfe0
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(5):hover,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(5):hover {
    background: #afdadc
}
.prem-main-style .woocommerce-breadcrumb span:nth-child(5):hover:after,
[class*=swatch-] .prem-main-style .woocommerce-breadcrumb span:nth-child(5):hover:after {
    border-left-color: #afdadc
}
.prem-main-style .woocommerce-ordering .select-wrap,
[class*=swatch-] .prem-main-style .woocommerce-ordering .select-wrap {
    background: #73bfc1;
    color: #fff
}
.prem-main-style .woocommerce-ordering .select-wrap:after,
.prem-main-style .woocommerce-ordering select,
[class*=swatch-] .prem-main-style .woocommerce-ordering .select-wrap:after,
[class*=swatch-] .prem-main-style .woocommerce-ordering select {
    color: #fff
}
.prem-main-style .product .product-title:after,
[class*=swatch-] .prem-main-style .product .product-title:after {
    background: #fff
}
.prem-main-style .star-rating,
[class*=swatch-] .prem-main-style .star-rating {
    color: #fff
}
.prem-main-style .onsale,
[class*=swatch-] .prem-main-style .onsale {
    background: #73bfc1;
    color: #fff
}
.prem-main-style .page-numbers a,
.prem-main-style .page-numbers span,
[class*=swatch-] .prem-main-style .page-numbers a,
[class*=swatch-] .prem-main-style .page-numbers span {
    color: #fff
}
.prem-main-style .page-numbers li,
[class*=swatch-] .prem-main-style .page-numbers li {
    background: #73bfc1
}
.prem-main-style .page-numbers .current,
.prem-main-style .page-numbers li a:hover,
[class*=swatch-] .prem-main-style .page-numbers .current,
[class*=swatch-] .prem-main-style .page-numbers li a:hover {
    background: rgba(0, 0, 0, .075)
}
.prem-main-style .pager li>a:focus,
[class*=swatch-] .prem-main-style .pager li>a:focus {
    background: #73bfc1;
    color: #fff
}
.prem-main-style .product-category h3,
[class*=swatch-] .prem-main-style .product-category h3 {
    background: #fff;
    color: #e74c3c
}
.prem-main-style .product-category h3 mark,
[class*=swatch-] .prem-main-style .product-category h3 mark {
    background: rgba(0, 0, 0, .075);
    color: #e74c3c
}
.prem-main-style .product-nav a i,
[class*=swatch-] .prem-main-style .product-nav a i {
    background: #fff;
    color: #e74c3c
}
.prem-main-style .product-images figcaption,
[class*=swatch-] .prem-main-style .product-images figcaption {
    box-shadow: none;
    background: #73bfc1
}
.prem-main-style .product-images figcaption i,
[class*=swatch-] .prem-main-style .product-images figcaption i {
    color: #fff
}
.prem-main-style .product-images .flex-active,
[class*=swatch-] .prem-main-style .product-images .flex-active {
    -webkit-box-shadow: 0 3px 0 #fff;
    -moz-box-shadow: 0 3px 0 #fff;
    box-shadow: 0 3px 0 #fff
}
.prem-main-style .order_details,
[class*=swatch-] .prem-main-style .order_details {
    background: rgba(0, 0, 0, .075)
}
.prem-main-style .order_details li,
[class*=swatch-] .prem-main-style .order_details li {
    border-color: rgba(26, 26, 26, .075)
}
.prem-main-style .product-type-variable .variations .select-wrap,
[class*=swatch-] .prem-main-style .product-type-variable .variations .select-wrap {
    margin-bottom: 24px
}
.prem-main-style .product-type-variable .variations .select-wrap select,
[class*=swatch-] .prem-main-style .product-type-variable .variations .select-wrap select {
    line-height: 28px
}
.prem-main-style .product-type-variable .variations .label,
[class*=swatch-] .prem-main-style .product-type-variable .variations .label {
    color: #fff;
    font-size: 16px;
    line-height: 30px
}
.prem-main-style .single-product-extras input,
.prem-main-style .single-product-extras textarea,
[class*=swatch-] .prem-main-style .single-product-extras input,
[class*=swatch-] .prem-main-style .single-product-extras textarea {
    background: #e74c3c;
    color: #fff
}
.prem-main-style .single-product-extras input[type=submit]:hover,
[class*=swatch-] .prem-main-style .single-product-extras input[type=submit]:hover {
    background: rgba(231, 76, 60, .9);
    color: #fff
}
.prem-main-style #review_form:before,
[class*=swatch-] .prem-main-style #review_form:before {
    background: #e6e6e6
}
.prem-main-style.mini-cart-container.active,
[class*=swatch-] .prem-main-style.mini-cart-container.active {
    box-shadow: -10px 0 0 rgba(223, 46, 27, .3)
}
.prem-main-style .cart_list li,
[class*=swatch-] .prem-main-style .cart_list li {
    border-color: rgba(0, 0, 0, .075)
}
.prem-main-style .cart-actions,
[class*=swatch-] .prem-main-style .cart-actions {
    background: #e74c3c;
    color: #fff
}
.prem-main-style .widget_product_tag_cloud a,
[class*=swatch-] .prem-main-style .widget_product_tag_cloud a {
    background: #fff;
    color: #e74c3c
}
.prem-main-style .widget_product_tag_cloud a:hover,
[class*=swatch-] .prem-main-style .widget_product_tag_cloud a:hover {
    background: rgba(255, 255, 255, .9);
    color: #e74c3c
}
.prem-main-style .product_list_widget .star-rating,
[class*=swatch-] .prem-main-style .product_list_widget .star-rating {
    color: #fff
}
.prem-main-style .widget_price_filter .ui-slider .ui-slider-range,
[class*=swatch-] .prem-main-style .widget_price_filter .ui-slider .ui-slider-range {
    background: rgba(0, 0, 0, .075)
}
.prem-main-style .widget_price_filter .ui-slider .ui-slider-handle,
[class*=swatch-] .prem-main-style .widget_price_filter .ui-slider .ui-slider-handle {
    background: #fff
}
.prem-main-style .widget_product_search form:after,
[class*=swatch-] .prem-main-style .widget_product_search form:after {
    color: #e74c3c
}